.LoginPage{
    width: 100%;
}
.Loginform{
    margin: auto;
    width: 300px;
    margin-top: 100px;
}
.SignInButton{
    width: 200px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    align-items: center;
    background-color: black;
    border-color: transparent;
}

.title-start{
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: normal;

}

.link{
    margin-left: 100px;
    font-weight: bolder;
}



.alert-box{
    border: none;
    padding: unset;
    margin-bottom: 2px;
}

.error-text{
    font-size: 12px;
    color: red;
}

.checkbox{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.forgotpswd{
    margin-left: 190px;
    font-size: small;
    cursor: pointer;
}