<form [formGroup]="form" class="main" #f = 'ngForm' >

    <div class="container">

        
        <div *ngIf="errorMsg" class="alert alert-box error-text">
            <a>{{errorMsg}}</a>
        </div>

        <div class="title-start">
            <label >Sign In To Your Account</label>
        </div>
    
        <div>
            <mat-form-field class="inputsbox">
                <mat-label>Email Address</mat-label>
                <input formControlName="username" matInput placeholder="...@email.com">
                <mat-error  class="error-text" *ngIf="username.invalid">
                    <div *ngIf="username.errors.required">*Email address is required</div>
                    <div *ngIf="username.errors.email">*Please enter a valid email address</div>
                    <div *ngIf="username.errors.cannotContainSpacesInEmail">*Cannot contain spaces in middle</div>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="inputsbox">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide?'password':'text'">
                <mat-error  class="error-text" *ngIf="username.invalid">
                    <div *ngIf="password.errors.required">*Password is required</div>
                </mat-error>
                <button mat-icon-button matSuffix  class="pswdbtn" (click)="hide=!hide">
                    <mat-icon>{{ hide? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    
        <a class="forgotpswd" routerLink="/reset">Forgot Password</a>
        <div class="checkbox">
            <label>
                <input type="checkbox" formControlName="keepmeSignedIn" form.value="true" > Keep me signed in.
            </label>
            
        </div>
    
        <button class="btn btn-primary Submitbtn" (click)="SignIn(f)">SignIn</button>

    
        <div class="link">
            <a routerLink="/signup">Register</a>
        </div>

        <!-- <p>{{ f.value | json}}</p> -->
    </div>
   
    
</form>
