.Terms{
    font-size: 10px;
}

.PasswordRules{
    margin: 8px 10px 0;
    font-weight: 500;
    font-size: smaller;
}

.bi-x::before{
    font-size: small;
    color: red;
    visibility: visible;
    content: "\f62a";
}
