<form class="Register RegisterPage" #R="ngForm" [formGroup]="form" (ngSubmit)="Register(R)">

    <div class="container">
        <div *ngIf="form.errors" class="alert alert-box error-text">
            *Please enter the below details
       </div>
       <div *ngIf="errorMsg" class="alert alert-box error-text">
            <a>{{errorMsg}}</a>
        </div>
       <!-- <div>
           ICON
       </div> -->
       <div class="title-start">
           <label>Create Your Account</label>
       </div>
       <div>
            <mat-form-field class="inputsbox">
                <mat-label>First name</mat-label>
                <input formControlName="firstname" matInput placeholder="First name">
                <mat-error  class="error-text" *ngIf="firstname.invalid">
                    <div *ngIf="firstname.errors.required">*First name is required</div>
                    <div *ngIf="firstname.errors.minlength">*First name is should be of {{ firstname.errors.minlength }} length</div>
                </mat-error>
            </mat-form-field>
       </div>
   
       <div>
        <mat-form-field class="inputsbox">
            <mat-label>Last name</mat-label>
            <input formControlName="lastname" matInput placeholder="Last name">
            <mat-error  class="error-text" *ngIf="lastname.invalid">
                <div *ngIf="lastname.errors.required">*First name is required</div>
                <div *ngIf="lastname.errors.minlength">*First name is should be of {{ firstname.errors.minlength }} length</div>
            </mat-error>
        </mat-form-field>
       </div>
   
       <div>
        <mat-form-field class="inputsbox">
            <mat-label>Email Address</mat-label>
            <input formControlName="username" matInput placeholder="...@email.com">
            <mat-error  class="error-text" *ngIf="username.invalid">
                <div *ngIf="username.errors.required">*Email address is required</div>
                <div *ngIf="username.errors.email">*Please enter a valid email address</div>
                <div *ngIf="username.errors.cannotContainSpacesInEmail">*Cannot contain spaces in middle</div>
            </mat-error>
        </mat-form-field>
       </div>
   
       <div>
            <mat-form-field class="inputsbox">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide?'password':'text'">
                <mat-error  class="error-text" *ngIf="username.invalid">
                    <div *ngIf="password.errors.required">*Password is required</div>
                </mat-error>
                <button mat-icon-button matSuffix  class="pswdbtn" (click)="hide=!hide">
                    <mat-icon>{{ hide? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            
           <div class="PasswordRules" *ngIf="true" >
               <div class="bi bi-x"*ngIf="!password.errors.maxlength">Password should be of 16 charactes</div>
               <div class="bi bi-x"*ngIf="!password.errors.havesmallcharacters">should contain small characters</div>
               <div class="bi bi-x"*ngIf="!password.errors.haveUppercasecharacters">should contain upper characters</div>
               <div class="bi bi-x"*ngIf="!password.errors.havenumbers">should contain numbers</div>
               <div class="bi bi-x"*ngIf="!password.errors.havespecialcharacters">should contain special charcters</div>
           </div>
       </div>
   
       <div class="checkbox">
           <label>
               <input type="checkbox" formControlName="keepmeSignedIn" form.value="true" > Keep me signed in.
           </label>
           
       </div>
       <div class="Terms">
           <label>
               By clicking Create Account, you acknowledge you have read and agreed to our <a href="url">Terms of Use</a> and <a href="url">Privacy Policy</a>
           </label>
       </div>
   
       <button  class="btn btn-primary Submitbtn" >Register</button>
   
       <div class="title-down">
           <label>Already have an account?</label>
       </div>
   
       <button routerLink="/usersignin" [queryParams]="{page:1, order:'newest'}" class="btn btn-primary Submitbtn">Sign in</button>
    </div>

    <!-- <p>{{ R.value | json}}</p> -->
</form>