<div class="homePage">
    <nav class="navigationbar">
        <div class="nav-left">
            <button class="btn-home" routerLink="/">
                <i class="bi bi-bag-plus"></i> 
            </button>   
        </div>

        <div class="nav-right1">
            <button class="btn-right" (click)="cart()">
                <i class="bi bi-cart"></i>                
                <label>Cart</label> 
            </button>              
        </div>

        <div class="nav-right2">
            <button class="btn-right" routerLink="/signin">
                <i class="bi bi-person-fill"></i> 
                <label>{{Profile}}</label>
            </button>
                
            <button  class="btn-right" *ngIf="enable" (click)="Logout()">
                <label>Logout</label>
            </button>

        </div>
        
    </nav>

    <div>
       {{ text }}
    </div>
</div>
